.background {
  background-color: #e0e0e0;
}

.content{
  padding: 1rem 0.5rem 0.2rem 1rem;
}

.callout-list{
  margin-left: 1rem;
}

.callout.restrict{
  width: 27rem;
}

.center-content{
  text-align: center;
}

.navbar-title{
  color: #ffffff;
}

.sensor-form{
  width: 50rem;
}

.helptext {
  font-size: .8rem;
  margin-top: 0rem;
  padding-top: 0rem;
}

#id_start_date {
    position: relative;
    color: white;
}

#id_start_date:before {
    position: absolute;
    top: 7px; left: 6px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}
