.background {
  background-color: #e0e0e0;
}

.content{
  padding: 1rem 0.5rem 0.2rem 1rem;
}

.callout-list{
  margin-left: 1rem;
}

.callout.restrict{
  width: 25rem;
}

.center-content{
  text-align: center;
}

.navbar-title{
  color: #ffffff;
}

.sensor-form{
  width: 50rem;
}

.helptext {
  font-size: .8rem;
  margin-top: 0rem;
  padding-top: 0rem;
}
